<!DOCTYPE html>
<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<style>
.form-custom{
height:125px;
width:400px;
}
</style>
</head>
<center>
<form class="pure-form" align="center" method="POST">
	<fieldset>
		Ticker <input class="pure-input-rounded" type="text" name="ticker">
		<br><br>
		<div class="pure-controls">
			<button type="submit" name="button" value="lookup" class="pure-button pure-button-secondary">Lookup</button>
    </div>
	</fieldset>
</form>

