<!DOCTYPE html>
<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<style>
.form-custom{
height:125px;
width:400px;
}
a
{
	display: inline
}
</style>
</head>
<h1 align="center">{{info["Name"]}}</h1>
<br>
<table class="pure-table pure-table-bordered" align="center">
	<thead>
		<tr>
			<th>Symbol</th>
			<th>Last Price</th>
			<th>Change</th>
			<th>High</th>
			<th>Low</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{info["Symbol"]}}</td>
			<td>${{info["LastPrice"]}}</td>
			<td>${{info["Change"]}} ({{info["ChangePercent"]}}%)</td>
			<td>${{info["High"]}}</td>
			<td>${{info["Low"]}}</td>
		</tr>
	</tbody>
</table>
<br>
<hr>

<div style="width:33%;border:2px;border-style:solid;padding:8px;">
	<h2 align="center">News</h2>
	<div style="border:0px;overflow:hidden;" class ="pure-menu pure-menu-open pure-menu-vertical">
		<ul>
			{% for entry in news %}
			<li style="height:50px;">{{loop.index}}. {{entry["sentNum"]}} % {{entry["sentType"]}}<a href="{{entry['unescapedUrl']}}">{{entry["titleNoFormatting"]}}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>	

